*.[oa]
*.so
*.so.*
*.l[oa]
gc-7.4.0/.deps/
gc-7.4.0/.libs/
gc-7.4.0/Makefile
gc-7.4.0/bdw-gc.pc
gc-7.4.0/config.log
gc-7.4.0/config.status
gc-7.4.0/include/config.h
gc-7.4.0/include/stamp-h1
gc-7.4.0/libatomic_ops-7.4.0/Makefile
gc-7.4.0/libatomic_ops-7.4.0/config.log
gc-7.4.0/libatomic_ops-7.4.0/config.status
gc-7.4.0/libatomic_ops-7.4.0/doc/Makefile
gc-7.4.0/libatomic_ops-7.4.0/libtool
gc-7.4.0/libatomic_ops-7.4.0/pkgconfig/atomic_ops-uninstalled.pc
gc-7.4.0/libatomic_ops-7.4.0/pkgconfig/atomic_ops.pc
gc-7.4.0/libatomic_ops-7.4.0/src/.deps/
gc-7.4.0/libatomic_ops-7.4.0/src/.libs/
gc-7.4.0/libatomic_ops-7.4.0/src/Makefile
gc-7.4.0/libatomic_ops-7.4.0/src/config.h
gc-7.4.0/libatomic_ops-7.4.0/src/stamp-h1
gc-7.4.0/libatomic_ops-7.4.0/tests/.deps/
gc-7.4.0/libatomic_ops-7.4.0/tests/Makefile
gc-7.4.0/libatomic_ops-7.4.0/tests/list_atomic.i
gc-7.4.0/libtool
